@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadein-slideup {
    0% {
      opacity: 0;
      transform: translateY(24px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fadein-slideup {
    animation: fadein-slideup 0.7s cubic-bezier(0.4,0,0.2,1) both;
  }
}
